@using NT.BL.Domain.flowpck
@using NT.BL.Domain.webplatformpck
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NT.UI.MVC.Resources
@model NT.BL.Domain.flowpck.Theme

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section Scripts
{
    <script src="~/dist/site.entry.js" defer></script>
    <script src="~/dist/home.entry.js" defer></script>
    <script src="~/dist/ThemeDetail.entry.js" defer></script>

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/dist/carousel.css" rel="stylesheet">
    <title>@Model.ThemeName @Resources.detail</title>
</head>
<body>
<span class="theme-id" value="@Model.Id">@Model.Id</span>
<section>
    <div>
        <div class="row mb-3">
            <a class="btn btn-outline-primary btn-return col-sm-2" asp-controller="WebPlatform" asp-action="ThemeOverview" asp-route-projectId="@ViewBag.ProjectId">@Resources.back_to_selection</a>
        </div>
        <div class="row mb-3">
            <span class="col-sm-2 form-label fw-bold">@Resources.theme_name</span>
            <span class="col-sm-10">@Model.ThemeName</span>
        </div>
        <div class="row mb-3">
            <span class="col-sm-2 form-label fw-bold">@Resources.theme_info</span>
            <span class="col-sm-10" id="projectStatusDetailSpan">@Model.ShortInformation</span>
        </div>
    </div>
</section>
<section id="commentSection">
    <div class="p-2">
        <div id="comments">
        </div>
        <div>
            <label for="newComment">@Resources.leave_comment</label>
            <textarea id="newComment" rows="3" class="form-control"></textarea>
        </div>
        <form id="upload-form" enctype="multipart/form-data" method="post">
            <dl>
                <dt>
                    <label for="upload-input" class="form-label">@Resources.image_video</label>
                </dt>
                <dd>
                    <input id="upload-input" type="file" name="file" accept="image/*" class="form-control"/>
                </dd>
            </dl>
        </form>
        <button id="submitComment" type="submit" class="btn btn-primary">@Resources.submit</button>
    </div>
</section>
</body>
</html>